<!-- Downloads -->
<div class="container">


    



            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title">Current Stable release</h4>
                            
                            <a href="ppc.html" class="btn btn-block btn-primary">Get Maname on Fontman</a>
                             <a href="ppc.html" class="btn">Direct download</a>
                            
                                                         <a href="ppc.html" class="btn ">See the Fontlog</a>

                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                            <br />
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title">Development version</h4>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                            <br />
                            <a href="ppc.html" class="btn btn-block btn-primary">DOWNLOAD on Fontman</a>
                             <a href="ppc.html" class="btn btn-block btn-primary">Manual Download</a>
                        </div>
                    </div>
                </div>
     
            </div>           
        </div>
