<div class="container">
        <h3 id="timeline">Next release</h3>
    <div class="row"><br>
	    <div class="col-xs-12">
    	    <div class="progress">
                <div class="bar-step" style="left: 75%">
                    <div class="label-txt">Tamil Drafts</div>
                    <div class="label-percent">75%</div>
                    <div class="label-line"></div>

                </div>
                <div class="bar-step" style="left: 10%">
                    <div class="label-txt">Maname Informal</div>
                    <div class="label-percent">10%</div>
                    <div class="label-line"></div>
                </div>
                <div class="bar-step" style="left: 55%">
                    <div class="label-txt">Maname Informal</div>
                    <div class="label-percent">55%</div>
                    <div class="label-line"></div>
                </div>
  			    <div class="progress-bar progress-bar-success" style="width: 46%;">46%</div>
		       </div>
	        </div>
	    </div>
    </div>


<div class="container">
        <div class="row">

        <div class="col-md-6">

    <ul class="timeline">

        <li class="timeline-inverted">
          <div class="timeline-badge warning"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">v0.0.1 - Maname Informal</h4>
            </div>
    	    <div class="progress"> 
  			    <div class="progress-bar progress-bar-success" style="width: 95%;">95%</div>
		       </div>

          </div>
        </li>
                <li class="timeline-inverted">
          <div class="timeline-badge warning"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Maname</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>

            </div>
          </div>
        </li>
    </ul>
</div>
</div>
</div>
