<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="tag-title">Support on Patreon</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
            <br />
            <a href="ppc.html" class="">

                <img src="images/becomeApatreon.png">
            </a>
        </div>
    </div>
</div>