<!-- Simple font tester -->
<script type="text/javascript">
    // Load the Google Transliterate API
google.load("elements", "1", {packages: "transliteration"});

    function onLoad() {
      var options = {
        sourceLanguage: 'en',
        destinationLanguage: ['si','ta'],
        shortcutKey: 'ctrl+g',
        transliterationEnabled: true
      };

      // Create an instance on TransliterationControl with the required
      // options.
      var control =
          new google.elements.transliteration.TransliterationControl(options);

      // Enable transliteration in the textfields with the given ids.
      var ids = [ "try_input" ];
      control.makeTransliteratable(ids);

      // Show the transliteration control which can be used to toggle between
      control.showControl('translControl');
    }
    google.setOnLoadCallback(onLoad);
  </script>

<!-- Charactor counter -->

<!-- Charactor counter -->



<!--------------------------------------------------------
TRIAL AREA
----------------------------------------------------------->



<div class="container">


<div  id='translControl'></div>

<div id="try_input" contenteditable='true'>
Type Here    මෙතන ටයිප් කරන්න 
		</div>

                                <a href="specimen.html" class="btn btn-primary">Try on fontpad</a>

  	</div>
